body {
    background-color: #FFF5E1;
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
    color: #333;
    display: grid;
    grid-template-columns: .7fr 3.3fr 1fr;
    gap: 5rem;
    align-items: baseline;
}
.head{
  display: flex;
  align-items: center;
  gap: .6rem;
}
h1, h2 {
    color: #2C5F2D;
}
h1 {
    font-size: 2rem;
}
.md{
  width: 30px;
  height: 1.35rem;
}
dl{
  margin: 0 ;
}
dt strong{
    color:#2F4550;
    font-size: 1.2rem;
}
.language-switch{
    grid-column: 1;
    display: flex;
    justify-content: center;
}
.checkbox-wrapper-10{
    position: fixed;
    top: 35%;
}
.content{
    grid-column: 2/3;
    max-width: 800px;
}
.stg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stgD{
  font-size: .8rem;
}
.pic {

    z-index: 100;
}

.pic img {
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.section {
    margin-bottom: 1.3rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
a {
    color: #005f99;
    text-decoration: none;
    padding: .5rem;
    display: flex;
    align-items: center;
}
.mobeliteSite{
  font-family: inherit;
  height: 2.6em;
  position: relative;
  margin: 1rem;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #005f99;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
}
.mobeliteSite:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #005f99;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.mobeliteSite:hover {
  color: #fff;
}
.mobeliteSite:before {
  top: 100%;
  left: 100%;
  transition: all 0.3s;
}

.mobeliteSite:hover:before {
  top: -50px;
  left: -10px;
}






a:hover {
    text-decoration: underline;
    cursor: pointer;
}
p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1.3%;
  line-height: 2rem;
  
}

.checkbox-wrapper-10 .tgl {
    display: none;
  }
  .checkbox-wrapper-10 .tgl,
  .checkbox-wrapper-10 .tgl:after,
  .checkbox-wrapper-10 .tgl:before,
  .checkbox-wrapper-10 .tgl *,
  .checkbox-wrapper-10 .tgl *:after,
  .checkbox-wrapper-10 .tgl *:before,
  .checkbox-wrapper-10 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-wrapper-10 .tgl::-moz-selection,
  .checkbox-wrapper-10 .tgl:after::-moz-selection,
  .checkbox-wrapper-10 .tgl:before::-moz-selection,
  .checkbox-wrapper-10 .tgl *::-moz-selection,
  .checkbox-wrapper-10 .tgl *:after::-moz-selection,
  .checkbox-wrapper-10 .tgl *:before::-moz-selection,
  .checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-10 .tgl::selection,
  .checkbox-wrapper-10 .tgl:after::selection,
  .checkbox-wrapper-10 .tgl:before::selection,
  .checkbox-wrapper-10 .tgl *::selection,
  .checkbox-wrapper-10 .tgl *:after::selection,
  .checkbox-wrapper-10 .tgl *:before::selection,
  .checkbox-wrapper-10 .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-wrapper-10 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkbox-wrapper-10 .tgl + .tgl-btn:after,
  .checkbox-wrapper-10 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .checkbox-wrapper-10 .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-10 .tgl + .tgl-btn:before {
    display: none;
  }
  .checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    font-family: sans-serif;
    perspective: 100px;
  }
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
  }
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    background: #7802c6;
    transform: rotateY(-180deg);
  }
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    background: #197dff;
    content: attr(data-tg-off);
  }
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
    transform: rotateY(-20deg);
  }
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
    transform: rotateY(180deg);
  }
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
    transform: rotateY(0);
    left: 0;
    background: #7e09eb;
  }
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
    transform: rotateY(20deg);
  }



  /*the btn animation*/
button {
  position: relative;
  margin: 1.2rem auto ;
  padding: 17px 35px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #2F4550;
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 500;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button span {
  color: #164ca7;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

button:hover {
  animation: rotate624 0.5s ease-in-out both;
}

button:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.08s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn {
  border: 2px solid;
  overflow: hidden;
  position: relative;
}

.btn span {
  z-index: 20;
}

.btn:after {
  background: #2C5F2D;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn:hover:after {
  left: 120%;
  transition: all .7s cubic-bezier(0.19, 1, 0.22, 1);
}